$blue: #14181F;
$blue-dark: #090B0F;
$blue-light: #1F2633;

$red: #EA1D22;
$red-dark: #B21418;
$red-light: #F21319;

$white: #EDF1F7;
$white-dark: #E6EAF0;
$white-light: #F2F5FA;

$gray-1: #B1B2B2;
$gray-2: #A1A3A5;
$gray-3: #959799;