header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;

  @include responsive() {
    display: flex;
    justify-content: space-between;
  }

}

.logo {
  max-width: 88px;
}

.nav-content { 

  @include responsive() {
    padding: $gap-5 $gap-3;

    position: fixed;
    background: $blue-light;;

    top: 0px;
    height: 100vh;
    right: 0;

    z-index: 1;

    transition: .7s ease;
  }
  
}

.nav-content.active {
  right: -100%;
}

.nav-list {
  list-style-type: none;
  display: flex;

  li {
    margin-left: 24px;
  }

  @include responsive() {
    margin-top: $gap-4;
    display: flex;
    flex-direction: column;
  }
}

.nav-link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;

  color: $gray-3;
  padding: 8px 16px;
  transition: .7s ease;

  position: relative;

  &::after {
    content:  '';
    display: block; 
    position: absolute;

    @include responsive() {
      left: -40px;
      top: 50%;
      transform: rotate(-180deg);

      width: 0px;
      height: 2px;
    }

    transition: .7s ease;
      
    top: -40px;
    left: 50%;
    width: 2px;
    height: 0px;
    
    background: linear-gradient(360deg, #EA1D22 0%, rgba(231, 29, 34, 0) 97.46%);
  }  
  
  &:hover {
    color: $white-light;

    &::after {
      height: 40px;
      
      @include responsive() {
        width: 40px;
        height: 2px;

      }
    }
  }
}

.red {
  color: $red;
}

.nav-social {
  display: flex;
  align-items: center;

  @include responsive() {
    display: none;
    
  }

  svg {
    cursor: pointer;

    margin-left: 16px;
    width: 24px;
    transition: .7s ease;

    path, circle {
      transition: .7s ease;
    }

    &:hover {
      transform: translate3d(0, -3px, 0);

      path, circle {
        fill: $red-light;
      }
    }
  }
}

.bx {
  display: none;
  width: 48px;
  height: 48px;

  border-radius: 8px;

  position: relative;

  &::after {
    content: '';

    width: 70%;
    height: 10%;

    top: 30%;
    left: 15%;

    border-radius: 20px;
    background-color: $white;

    position: absolute;

    transition: .7s ease;
  }

  &::before {
    content: '';

    position: absolute;

    width: 40%;
    height: 10%;
    border-radius: 20px;

    top: 50%;
    left: 45%;

    background-color: $white;

    transition: .7s ease;
  }

  @include responsive() {
    display: block;
    z-index: 999;

  }
}


#bx:checked ~ label .bx::after {
  transform: rotate(225deg);

  width: 70%;
  height: 10%;

  top: 45%;
  left: 15%;
}

.display-none {
  display: none;
}

#bx:checked ~ label .bx::before {
  transform: rotate(-405deg);

  width: 70%;
  height: 10%;

  top: 45%;
  left: 15%;
}

.display-none {
  display: none;
}
